.ptImgurLinkThumbnail {
	position: absolute;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 0 5px #ccc;
	line-height: 0;
	z-index: 1000;
	display: none;
}

.ptImgurLinkThumbnail:before, .ptImgurLinkThumbnail:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.ptImgurLinkThumbnail:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 5px;
	margin-left: -5px;
}

.ptImgurLinkThumbnail:before {
	border-color: rgba(204, 204, 204, 0);
	border-top-color: #ccc;
	border-width: 6px;
	margin-left: -6px;
}

.ptImgurLinkThumbnail img {
	max-width: 250px;
	max-height: 450px;
	border-radius: 2px;
}